html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

ul, li, ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

h1, h2, p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: #9DB3DB;
}

.head_info {
    background-color: #03174C;
    height: 20%;
    padding: 1% 5%;
}

.info_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.info li {
    float: left;
    font-size: 18px;
    color: #ffffff;
}

.info_menu form {
    display: flex;
}

.search_place {
    border: none;
    background-color: #03174C;
    width: 100px;
    color: white;
    height: 20px;
}

.search_icon {
    position: relative;
    height: 25px;
    padding: 0px 10px 0px 0px;
}

.toggle_menu {
    position: absolute;
    display: none;
    left: 0px;
    padding: 10px 5px 0px 5px;
    background-color: #03174C;
    color: white;
}

.info_menu>li:hover .toggle_menu {
    display: block;
}

.info_menu li {
    position: relative;
}

.banner {
    background-image: url(images/banner-bg.png);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_info {
    border: 1px solid red;
}